.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  width: 300px;
  margin: 0 auto;
}

.cell {
  width: 70px;
  height: 70px;
  /* background-color: lightgray; */
  margin: 10px 0;
  text-align: center;
}
